<main class="show">
 <p class="show-head"><%= flash[:notice] %></p>

 <div class="show-title">
   <p><span>Title:</span> <%= @book.title %> </p>
 </div>
 <div class="show-body">
   <p><span>Body:</span> <%= @book.body %> </p>
 </div>

<div class="show-help">
 <div class="show-edit"><%= link_to "Edit", edit_book_path(@book) %></div>
 <div class="show-back"><%= link_to "Back", books_path %></div>
</div>

</main>